<div class="search">
    <form action="/homepage" method="POST">
        <div class="form-group">
            <label>Search Movie</label>
            <input ckass="form-control" type="text" name="movie">
            <button class="btn btn-teal" type="submit">Submit</button>
        </div>
    </form>
</div>